.no-border { border: none !important; }
fieldset.fr-livefilter {
  float: left;
  border:none;
}

.fr-filtering {
  float: right;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
}
.fr-filtering legend {
  margin-bottom:10px;
}

.fr-livefilter label {
  font-weight: bold;
  margin-bottom: 5px;
}

.fr-livefilter-input {
  float:left;
}

.fr-filtering button {
  border: none;
  color: #FFF;
  font-size: 10px;
  text-transform: uppercase;
}
.fr-filtering a {
  border: none;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px;
  margin: 10px 0 10px 0;
  float: left;
  display: block;
  background: #e0e0e0;
  border-radius: 3px;
}

.fundraiser-table {
  width: 100%;
  box-sizing: border-box;
}

.fundraiser-table th {
  text-align: left;
  padding: 10px !important;
  background: #ccc;
  box-sizing: border-box;
}

.fundraiser-table tr {
  border: 1px solid #ccc;
}

.fundraiser-table tr.odd {
  background: #f0f0f0;
}

.fundraiser-table tr:hover {
  background: #e0e0e0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fundraiser-table td {
  padding: 10px !important;
  box-sizing: border-box;
}

.fundraiser-table td:last-child {
  text-align: right;
  color: #ccc;
  font-size: .9em;
}

.fundraiser-table.option2 td:last-child {
  text-align: left;
  color: #333;
}

.fundraiser-table a.donate {
  background: #CA663A;
  font-size: .9em;
  border-radius: 4px;
  color: #fff !important; /* overrides any theme colors */
  padding: 5px;
  margin-left: 10px;
}

.fr-grid-list-item {
  background: #EEEEEE;
  box-sizing: border-box;
  padding: 0px;
  margin-bottom: 20px;
}
.fr-list-container .fr-grid-list-item:nth-of-type(4n+5) {  
  clear: left;
}

.fr-grid-list-content {
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
}

.fr-listing-avatar-container {
  margin: 0 auto;
}

.fr-listing-avatar {
  margin: 0 auto;
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
}

.fr-grid-item-content {
  padding: 0 20px 20px 20px;
}

.fr-grid-title-container {
  min-height: 50px;
}

.fr-grid-list-item p.fr-grid-title {
  box-sizing: border-box;
  font-weight: bold;
  margin: 15px 0; /* override theme css to keep sizing of box */
}

.fr-grid-status {
  margin-top:10px;
  float: left;
  background: #ccc;
  height: 12px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.fr-grid-status-title{
  font-size: 10px;
}
.fr-grid-status-title:nth-of-type(5){
  margin-top: 20px;
}

.fr-grid-progress {
  background: #CA663A;
  height: 100%;
  display: block;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fr-grid-stats {
  margin: 10px 0 0 0;
}

.fr-grid-stats p {
  margin: 0; /* this overrides any theme paragraph formatting css */
  font-size: .9em;
}

.fr-grid-list-item ul.fr-list-actions {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #E11E1;
  border-top: 1px solid #fff;
}

.fr-grid-list-item ul.fr-list-actions li {
  list-style: none;
  width: 49.5%;
  margin: 0;
  float: left;
  font-size: .9em;
  text-align: center;
  font-weight: bold;
}

.fr-grid-list-item ul.fr-list-actions li:first-child {
  border-right: 1px solid #fff;
}
.fr-grid-list-item ul.fr-list-actions li:last-child {
  float: right;
}

.fr-grid-list-item ul.fr-list-actions li a {
  padding: 15px 5px;
  display: block;
}

.fr-grid-list-item ul.fr-list-actions li a:hover {
  background: #CA663A;
  color: #fff !important;
}

.fr-container {
  float: left;
  border: 1px solid #e0e0e0;
  padding-bottom: 30px;
}

.fr-container iframe,
.fr-container img {
  max-width: 100%;
}

.fr-top-row {
  border: 1px solid #f0f0f0;
  padding: 20px 20px 20px 20px;
  margin-right: 0 !important;
}

.fr-header {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  display: block;
  float: left;
}

.fr-header img {
  width: 100%;
  height: auto;
}

.fr-middle-row {
  padding: 20px;
}

.fr-avatar-container {
  height: auto;
  float: left;
}

.fr-avatar {
    width: 125px;
    height: 125px;
    display: block;
    margin-top: -60px;
    border-radius: 100%;
    background-size: 100%;
    border-bottom: 1px solid #f0f0f0;
    background-size:cover;
}

.fr-name {
  text-align: left;
}

.fr-name h3 {
  margin: 0px 0 0 0;
  line-height: 133%;
}

.fr-intro {
  border-top: 1px solid #e0e0e0;
  padding: 20px 20px 50px 20px;
  font-size: .9em;
  box-sizing: border-box;
  text-align: left;
  margin-right: 0 !important;
}

.fr-info {
  font-size: .8em;
  padding-bottom: 20px;
  box-sizing: border-box;
  text-align: left;
}

.fr-info p.fr-location {
  padding-left: 20px;
  margin-bottom: 0;
  background: url(../images/fr-location.png) left center no-repeat;
}

.fr-info p.fr-organizer {
  margin: 0;
}

.fr-info ul {
  margin:0px 0;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
  text-align: left;
}

.fr-info ul li {
  list-style-type: none;
  display: inline-block;
  width: 49%;
  text-align: left;
}

.fr-info ul li:last-child {
  text-align: right;
}

a.fr-pure-button {
  background: #CA663A; /* we should set this as the main color in the admin */
  color: #fff !important; /* overrides any theme colors */
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.fr-donate {
  width: 31%;
  float: right !important;
  padding-top: 10px;
  margin-right:0 !important;
}

.fr-donate-top {
  padding-top: 0;
}

.fr-donate a {
  display: block;
  font-size: 1.4em;
}

.fr-donate .fr-p2p {
  font-size: .75em;
  margin-top: 5px;
  text-align: right;
  font-style: italic;
}

.fr-single-status-section {
  float: left;
  padding-bottom: 0px;
  padding-top: 10px;
}
.fr-single-status-section span.title {
  float:left;
  padding-bottom: 10px;
}

.fr-single-status {
  float: left;
  background: #ccc;
  height: 12px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.fr-single-progress {
  background: #CA663A;
  height: 100%;
  display: block;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fr-raised {
  float: left;
  padding-top: 5px;
  padding-bottom: 20px;
  font-weight: bold;
}

.fr-raised-amount {
  float: right;
}

.fr-raised-label {
  float: left;
}

.fr-single-info {
  float: left;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  padding:10px 20px;
  background: #f0f0f0;
    text-align: left;

}

ul.fr-single-stats {
  padding: 10px 0 !important;
  margin: 0 !important;
  list-style: none;
}

ul.fr-single-stats li {
  display: inline-block;
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: top;
}

.fr-stat-title {
  font-size: .8em;
}

ul.fr-single-stats li:nth-of-type(2n+2) {
  text-align: right;
}

ul.fr-single-stats li.text-left:nth-of-type(2n+2) {
  text-align: left;
}
ul.fr-single-stats li.sharing_links a { float:left; margin-right: 2px; }

ul.fr-single-stats li:nth-of-type(2),
ul.fr-single-stats li:nth-of-type(4) { margin: 0 0 0 10px !important; }

ul.fr-single-stats li:nth-of-type(1),
ul.fr-single-stats li:nth-of-type(3) { margin: 0 10px 0 0 !important; }

ul.fr-single-stats li:nth-of-type(2) { margin-right: 10px !important; }
ul.fr-single-stats li:nth-of-type(3) { margin-left: 10px !important; }

ul.fr-single-stats li:nth-of-type(1) { margin-right: 20px !important; }
ul.fr-single-stats li:nth-of-type(4) { margin-left: 20px !important; }

ul.fr-single-stats li:last-child img {
  max-width: 40px;
  height: auto;
}


.fr-body {
  float: left;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
  text-align: left;
}

#fr-tabs div {
  box-sizing: border-box;
  padding-top: 30px;
}

#fr-tabs h3 {
  margin: 0;
}

#fr-tabs ul.fr-tabs-list {
  margin:0;
  padding:0;
}

#fr-tabs ul.fr-tabs-list li{
  list-style: none;
  display: inline-block;
  margin: 0;
}

#fr-tabs ul.fr-tabs-list li a {
  display: block;
  padding: 10px 0;
  margin-right: 20px;
  font-weight: bold;
}

#fr-tabs ul.fr-tabs-list li.active a,
#fr-tabs ul.fr-tabs-list li a:hover {
  display: block;
  background: none;
  border-bottom: 5px solid #CA663A;
}

ul.fr-updates {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fr-updates li {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  list-style: none;
  border-top: 1px solid #e0e0e0;
}

.fr-updates h4 {
  margin-bottom: 0;
}

.fr-updates p.date {
  font-size: .8em;
  margin: 0;
}

.fr-author {
  display: inline-block;
}

.fr-read-more {
  display: inline-block;
  float: right;
}

a.fr-read-more {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05);
  color: #58585a;
  padding: 10px 17px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 10px;
  text-align: right;
}

a.fr-read-more:hover {
  background: #e0e0e0;
}

#fr-tabs .fr-tool-section {
  border: none;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
}

.fr-tool-section h4 {
  margin: 0;
}

.fr-tool-section textarea {
  width: 100%;
  box-sizing: border-box;
}

a.fr-share {
  display: inline-block;
  height: 35px;
  width: 35px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.fr-share.twitter {background: url(../images/share-twitter.png);}
a.fr-share.facebook {background: url(../images/share-facebook.png);}
a.fr-share.email {background: url(../images/share-email.png);}

ul.fr-backers {
  list-style: none;
  margin: 0;padding: 0;
}

ul.fr-backers li {
  display: block;
  list-style: none;
  text-align: center;
  font-size: .75em;
}

ul.fr-backers li .fr-backer-avatar {
  display: inline-block;
  width: 125px;
  margin: 10px 0 0 0 ;
  background-color: #f0f0f0;
}

ul.fr-backers li .fr-backer-name {
  padding: 15px 0 30px 0px;
  font-weight: bold;
  width: 100%;
  float: left;
}


/* Grid */

/* SELF CLEARING FLOATS - CLEARFIX METHOD */
.pure_row:after, .pure_col:after, .pure_clr:after, .pure_group:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }


/* DEFAULT ROW STYLES */
.pure_row { padding-top: 1em; padding-bottom: 1em; } /* set according to preference*/
.pure_row.nopadrow { padding-top: 0; padding-bottom: 0; } /* set according to preference*/
.pure_row.nopadbottom {padding-bottom:0;}
.pure_row.nopadtop {padding-top: 0;}

/* DEFAULT COLUMN STYLES */
.pure_col {
  display: block;
  float:left;
  width: 100%;
  box-sizing: border-box;
}

@media ( min-width : 768px ) {
  .pure_col {
    margin-right: 2%;
  }
}

/* RESET MARGINS */
.pure_col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/* COLUMN WIDTH ON DISPLAYS +768px */
@media ( min-width : 768px ) {
  .pure_span_1 { width: 1.25%; }
  .pure_span_2 { width: 5.5%; }
  .pure_span_3 { width: 9.75%; }
  .pure_span_4 { width: 14.0%; }
  .pure_span_5 { width: 18.25%; }
  .pure_span_6 { width: 22.5%; }
  .pure_span_7 { width: 26.75%; }
  .pure_span_8 { width: 31.0%; }
  .pure_span_9 { width: 35.25%; }
  .pure_span_10 { width: 39.5%; }
  .pure_span_11 { width: 43.75%; }
  .pure_span_12 { width: 48.0%; }
  .pure_span_13 { width: 52.25%; }
  .pure_span_14 { width: 56.5%; }
  .pure_span_15 { width: 60.75%; }
  .pure_span_16 { width: 65.0%; }
  .pure_span_17 { width: 69.25%; }
  .pure_span_18 { width: 73.5%; }
  .pure_span_19 { width: 77.75%; }
  .pure_span_20 { width: 82.0%; }
  .pure_span_21 { width: 86.25%; }
  .pure_span_22 { width: 90.5%; }
  .pure_span_23 { width: 94.75%; }
  .pure_span_24 { width: 100%; }
}

@media only screen and (max-device-width : 768px) {

  .fr-info,
  .fr-join {
    width: 98%;
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
  }

  #fr-tabs ul.fr-tabs-list li a {
    padding: 10px 15px;
  }

}

.mobile-visible { display:none; }
.mobile-hidden { display:block; }

@media only screen and (max-width: 568px) {


  #fr-tabs ul.fr-tabs-list li a {
    margin-right: 5px;
  }

  .fr-grid-item-content {
    height: 150px;
  }

  .mobile-visible { display:block !important; }
  .mobile-hidden { display:none !important; }

  .fr-avatar {
    margin-left: auto;
    margin-right: auto;
  }

  .fr-name {
    text-align: center;
    padding: 0 40px;
  }

  .fr-single-stats li {
    text-align: center;
  }

  ul.fr-single-stats li:last-child {
    text-align: center;
    float: none;
  }

  ul.fr-single-stats li:last-child a {
    float: none !important;
  }

  ul.fr-single-stats li:last-child img {
    margin-top: 15px;
  }

  #fr-tabs ul.fr-tabs-list li a{
    font-size: .8em;
    padding: 6px;
  }


}
 